global
    maxconn 8192
    nbthread 1
    tune.bufsize 4096
    tune.maxrewrite 1024

defaults
    mode http
    no log
    option dontlognull
    option http-keep-alive
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend main
    bind *:9999 backlog 65535
    default_backend api

backend api
    balance roundrobin
    option http-keep-alive
    server api1 unix@/run/sock/api1.sock
    server api2 unix@/run/sock/api2.sock
